*{
  margin: 0;
  padding: 0;
}



body{
  background-color:#f0f2f5;

}

 
.img{
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-bottom: -35px;
}

@media only screen  and (max-width: 969px) {  
  .app{
    max-width: 450px;
    margin: auto;
  }
  .main{
    flex-direction: column;
  }
}